body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Background color set to white */
    font-family: 'Montserrat', sans-serif;
    color: #10002b; /* Text color set to #10002b */
}

.container {
    text-align: center;
}

.error-message {
    font-size: 24px; /* Font size set to 24px */
    font-weight: 400;
    margin: 10px 0;
    color: #10002b; /* Text color set to #10002b */
    text-align: center; /* Text alignment set to center */
    line-height: 26px; /* Line height set to 26px */
    letter-spacing: 1px; /* Letter spacing set to 1px */
}

.error-submessage {
    font-size: 38px; /* Font size set to 38px */
    font-weight: 400;
    color: #10002b; /* Text color set to #10002b */
    text-align: center; /* Text alignment set to center */
    line-height: 45px; /* Line height set to 45px */
    letter-spacing: 14px; /* Letter spacing set to 14px */
}

.nyan-cat {
    width: 200px; /* Medium size */
    height: auto;
    margin-top: 20px; /* Add some margin to separate it from the text */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #10002b; /* Button color set to #10002b */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #333; /* Darker color on hover */
}
